{% extends "layout.html" %}
{% block content %}


    <!-- Header -->
    <section class="section_header_home">
        <div class="container">
      
          <div class="header_home">
            <div class="box"> 
              <h1 style="font-size:55px;"><span class="text-logo"> Carbon App</span></h1>
              <p style="text-align:left;">
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat dolores quos asperiores repellendus facilis cum illo aperiam odit doloremque nostrum. Totam excepturi labore voluptatibus iusto sapiente quisquam consectetur optio magnam voluptates omnis vel officia alias distinctio quas laborum reiciendis ratione inventore veniam, cupiditate doloribus dolore, eius natus a. Magni inventore consequuntur voluptas reprehenderit perferendis! Molestias aspernatur rem autem aut temporibus.
              </p>
              <div class="container_buttons_header_home">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary btn-lg mr-2" data-toggle="modal" data-target="#exampleModal">
                        Instructions
                    </button>
                    
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header" style="color: black; text-align: left;">
                            <h5 class="modal-title" style="color: black; text-align: left;" id="exampleModalLabel">Carbon App, instructions</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <div class="modal-body" style="color: black; text-align: left;">
                                Instructions
                                <ol>
                                    <li>
                                        Select transport.
                                    </li>
                                    <li>
                                        Select fuel.
                                    </li>
                                    <li>
                                        Type amount of kilometers.
                                    </li>
                                    <li>
                                        Calculate.
                                    </li>
                                </ol>
                            </div>
                            <div class="modal-footer">
                                <a type="button" class="btn btn-secondary" href="{{url_for('carbon_app.new_entry')}}", style="background-color:#007bff;">New Entry</a>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="btn">
                        <a href="#" class="btn btn-primary btn-lg mr-2", style="background-color:#007bff;">Paper</a>
                    </div>
                    <div class="btn">
                        <a href="/carbon_app/new_entry" class="btn btn-primary btn-lg mr-2", style="background-color:#007bff;">New entry</a>
                    </div>
                    <div class="btn">
                        <a href="/carbon_app/your_data" class="btn btn-primary btn-lg mr-2", style="background-color:#007bff;">Your data</a>
                    </div>
                </div>  
                </div>
            <div class="box">
            <img 
                src="{{url_for('static', filename='icons/calculator.png')}}"
                width="325" 
                height="325"
                alt=""/>
            </div>
          </div>
      
        </div>
      </section> 


{% endblock content %}