/* Colors 
Home, section 1 (header, background): #bccad6 --> #bccad6
Home, section 1 (header, boxes): #568c63 --> #8d9db6
Home, section 2 .transports, background): #b7d7e8 --> #b7d7e8
Home, section 2 .transports, boxes): #87bdd8 --> #87bdd8
 */

/* Utilities  */
p {
    margin: 10px 0;
    font-size: 18px;
  }
  /* Section header methodology */
  .section_header_methodology {
    background-color:#bccad6;
  }
  .header_methodology {
    display: flex;  
    align-items: start;
    background: #bccad6;
  }
  .header_methodology .box {
    flex: 1;
    background: #bccad6;
    color: #fff;
    border-radius: 10px;
    margin: 20px 10px;
    padding: 15px 20px;
    text-align:center;
    align-items: center;
    justify-content: center;
  }
  .header_methodology .box:nth-of-type(1) {
    flex-grow:2;
  }
  .header_methodology .box:nth-of-type(2) {
    flex-grow:1;
  }
  .container_buttons_header_methodology {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
  }
  .container_buttons_header_methodology a:hover {
    color: #bccad6;
  }
  .container_buttons_header_methodology btn {
    width: 100px;
    height: 100px;
    background: #bccad6;
    color: #fff;
    display: flex;
    justify-content:center;
    align-items:center;
  }
  /* Sectio .transports */
  .section_transports {
    background-color:#b7d7e8;
  }
  .transports {
    display: flex;  
    align-items: start;
    background: #b7d7e8;
  }
  .transports .box {
    flex: 1;
    background: #87bdd8;
    color: black;
    border-radius: 10px;
    margin: 20px 10px;
    padding: 15px 20px;
    text-align:center;
    align-items: center;
    justify-content: center;
  }
    .transports .box:nth-of-type(1) {
    flex-grow:4;
  }
    .transports .box:nth-of-type(2) {
    flex-grow:4;
  }
    .transports .box:nth-of-type(3) {
    flex-grow:4;
  }
    .transports .box2 {
    flex: 1;
    background: #87bdd8;
    color: black;
    border-radius: 10px;
    margin: 20px 10px;
    padding: 15px 20px;
    text-align:center;
    align-items: center;
    justify-content: center;
  }
    .transports .box2:nth-of-type(1) {
    flex-grow:4;
  }
    .transports .box2:nth-of-type(2) {
    flex-grow:4;
  }
    .transports .box2:nth-of-type(3) {
    flex-grow:4;

  }
  .container_button .transports {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    padding: 0px 0px;
    margin: 0px 0px;
  }
  .btn_transports {
    padding: 10px 10px;
    margin: 10px 10px 10px 10px;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    font-size: 18px;
    background-color: #667292;
    border: 2px solid  #b7d7e8;
  }
  .btn_transports:hover {
    color: #fff;
    background-color: #b7d7e8;
    border: 2px solid #b7d7e8;
    text-decoration: none;
  }
  
  
  @media (max-width:768px) { 
    .header_home {
      flex-direction: column;
    } 
    .transports {
      flex-direction: column;
    } 
    .container_button .transports {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }